<footer class="footer">
    
    <small class="rights">
      <span class="rights-item">&copy;2021</span>
      <span class="rights-item">we <i class="fas fa-heart heart-icon"></i> components</span>
    </small>
    
    <nav class="interest nav-text">
      <ul class="nav__link-list">
          <li class="link-list-item">
            <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">articles</a>
          </li>
          <li class="link-list-item">
            <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">books</a>
          </li>
          <li class="link-list-item">
            <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">events</a>
          </li>
          <li class="link-list-item">
            <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">reasons</a>
          </li>
          <li class="link-list-item">
            <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">tips</a>
          </li>
        </ul>
    </nav>
    
    <nav class="social nav-text">
      <ul class="nav__link-list">
        <li class="link-list-item">
          <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">twitter</a>
        </li>
        <li class="link-list-item">
          <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">instagram</a>
        </li>
        <li class="link-list-item">
          <a class ="menu-burger__link" target="_blank" href="https://adalab.es/" title="Adalab">mastodon.social</a>
        </li>
      </ul>
    </nav>
   
  </footer>
