<main class="main">
    
  <include src="./main/hero.html"></include>
    

  <article class="tips">
    <h3 class="tips__article__title">insomnia tips</h3>
    <h4 class="s tips__title main-titles">looking through a window</h2>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, perferendis consectetur! Accusamus laboriosam aperiam beatae tempore enim non porro culpa sed libero, esse quia reiciendis ducimus in rerum natus quibusdam.
      
    <button class="button-go">Go</button> 
      
  </article>

  <include src="./main/purchase.html"></include>
    
  </main>
