$defaultColorWhite: #ffffff;
$defaultLightBlue: #eff9ff;
$backgroundBlue: #8ccbea;
$greyFontColor: #4a4a4a;
$buttonColor: #f26002;

$fontFamily: "Roboto", sans-serif;
$fontFamilyTitle: "Roboto Slab", serif;

$fontSizeMobile: 18px;
$fontSizeDesk: 20px;
$lineHeight: 30px;

$fontSizeTitlesMobile: 24px;
$fontSizeTitlesTablet: 26px;
$fontSizeTitlesDesk: 32px;
